*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbarImagen {
    width: 100px;
}

#carouselExampleIndicators {
    width: 1440px;
    height: 400px;
}
.carousel-inner img{
    width: 1440px;
    height: 400px;
    object-fit: fill;
}

#footerImage{
  width: 120px;
  height: 70px;
}

