@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,400;0,600;1,600&display=swap");
@import "./colors.scss", "./navbar.scss","proDetail.scss",'./login.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Great Vibes", cursive;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
}

.sideBar {
  width: 10%;
  height: calc(100vh - 52px);
  border-right: 1px solid $gray;
  ul {
    list-style: none;
    padding: 3rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}
