.bg-color {
  background-color: $Pgreen;
}

#navbarImagen {
  max-width: 100px;
}

#carouselExampleInterval {
  max-width: 1440px;
  height: 400px;
}

.carousel-inner img {
  max-width: 1440px;
  height: 400px;
  object-fit: cover;
}

#footerImage {
  width: 120px;
  height: 70px;
}

#coverFooter {
  
  width: 100%;
  bottom: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}
#navbarlink {
  color: $light !important;
}
#navbarbutton {
  color:$light ;
  background-color: $Porange;
}
#filterbutton {
  background-color: $Porange;
  color: $light;
}
