.bg-color {
  background-color: $Pgreen;
}

#navbarImagen {
  max-width: 100px;
}

#carouselExampleIndicators {
  max-width: 1440px;
  height: 400px;
}

.carousel-inner img {
  max-width: 1440px;
  height: 400px;
  object-fit: cover;
}

#footerImage {
  width: 120px;
  height: 70px;
}

#coverFooter {
  
  width: 100%;
  bottom: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}
#navbarlink {
  color: $light !important;
}
#navbarbutton {
  color:$light ;
  background-color: $Porange;
}
#filterbutton {
  background-color: $Porange;
  color: $light;
}
/* xxxxxxxxxxxxxx */

.pBgColor{
background-color: $Pgreen;
}
.filterbutton {
  background-color: $Porange;
  color: $light;
  &:hover {
    background-color: $PorangeLight;
    color: $DarkGray;
}
}
.dropdownWhiteLink .nav-link{
    color: $light!important;  
    &#firstDropdownOption a{
      color: $DarkGray!important;
    }
    
}
.dropdownColor{
  color: $DarkGray;
  &:hover{
  color: $DarkGray
  }
}
.navbar-light .navbar-toggler {
  color: $lightgray;
  opacity: 0.7;
  border-color: rgba(255,255,255,0.5);
  background-color: $light;
}
.navbar-nav-scroll {
  max-height: var(--bs-scroll-height,75vh)!important;
  overflow-y: auto;
}
